Screen {
    layout: horizontal;
}

#main-content {
    layout: vertical;
    width: 1fr;
}

#task-table {
    height: 1fr;
}

#task-details {
    height: 1fr;
    border-top: solid $primary;
}

#footer {
    height: 1;
    border-top: solid $primary;
    padding: 0 1;
}

Button {
    margin: 1;
}

/* Modal styles */
$title_height: 1;
$footer_height: 2;
$content_height: 2;

BaseModalScreen {
  align: center middle;

  Grid {
    grid-size: 4 12;
    grid-gutter: 1 1;
    padding: 1 2;
    width: 100;
    border: thick $background 80%;
    background: $surface;
  }
  .task-id {
    color: magenta;
    column-span: 3;
    row-span: $title_height;
  }
  Static.task-id {
    margin-top: 1;
  }
  .task-message, .confirmation {
    column-span: 4;
    row-span: $content_height;
  }
  .title {
    column-span: 2;
    row-span: $title_height;
    margin-top: 1;
    margin-left: 1;
    color: yellow;
  }
  .modal-button {
    column-span: 2;
    row-span: $footer_height;
    width: 1fr;
  }
  .confirmation {
     row-span: $content_height;
     margin-left: 1;
     text-style: bold;
   }
}

/* New styles for dependency selection elements */
.depends-on-label {
  column-span: 4;  /* Span full width */
  row-span: 1;
}
.depends-on-list {
  column-span: 4;  /* Span full width */
  row-span: 2;  /* Dedicated rows for the selection list */
}
.depending-on-label {
  column-span: 4;  /* Span full width */
  row-span: 1;
}
.depending-on-list {
  column-span: 4;  /* Span full width */
  row-span: 1;
}

DeleteTaskModal {
  .title {
    column-span: 4;
  }
}

Sidebar {
  display: none;
  dock: left;
  max-width: 90;
  width: 50%;
  min-width: 50;
  height: 100%;
  border-right: solid $primary;
  background: $panel;
  padding: 1;
}

#task-details {
  border-bottom: hkey $accent 10%;
}

#info-bar {
  height: 1;
  color: white 50%;
  padding-left: 1;
}
