Screen {
    layout: horizontal;
}

#sidebar {
    width: 40;
    border-right: solid $primary;
}

#main-content {
    layout: vertical;
    width: 1fr;
}

#task-table {
    height: 1fr;
}

#task-details {
    height: 1fr;
    border-top: solid $primary;
}

#footer {
    height: 1;
    border-top: solid $primary;
    padding: 0 1;
}

Button {
    margin: 1;
}

/* Modal styles */

BaseModalScreen {
  align: center middle;

  Container {
    layout: horizontal;
    align: center middle;
    height: auto;
  }

  .title {
    margin: 1 1 1 2;
  }

  .modal-content {
    content-align: center middle;
    height: 1fr;
    align: center top;
  }

  .modal-button {
    width: 1fr;
  }

  Button {
    margin: 2;
  }
}

#modal-dialog {
  padding: 0 1;
  width: 70;
  height: auto;
  max-height: 90%;
  border: thick $background 80%;
  background: $surface;
}
