Screen {
    layout: horizontal;
}

#sidebar {
    width: 40;
    height: 100%;
    border-right: solid $primary;
    background: $panel;
    padding: 1;
}

#main-content {
    layout: vertical;
    width: 1fr;
}

#task-table {
    height: 1fr;
}

#task-details {
    height: 1fr;
    border-top: solid $primary;
}

#footer {
    height: 1;
    border-top: solid $primary;
    padding: 0 1;
}

Button {
    margin: 1;
}

/* Modal styles */
$title_height: 2;
$footer_height: 3;
$content_height: 7;

BaseModalScreen {
  align: center middle;

  Grid {
    grid-size: 4 12;
    grid-gutter: 1 1;
    padding: 1 2;
    width: 100;
    border: thick $background 80%;
    background: $surface;
  }
  .task-id {
    color: magenta;
    column-span: 3;
    row-span: $title_height;
  }
  Static.task-id {
    margin-top: 1;
  }
  .task-message, .confirmation {
    column-span: 4;
    row-span: $content_height;
  }
  .title {
    column-span: 2;
    row-span: $title_height;
    margin-top: 1;
    margin-left: 1;
    color: yellow;
  }
  .modal-button {
    column-span: 2;
    row-span: $footer_height;
    width: 1fr;
  }
  .confirmation {
     row-span: $content_height;
     margin-left: 1;
     text-style: bold;
  }
}

DeleteTaskModal {
  .title {
    column-span: 4;
  }
}

Sidebar {
  display: none;
  dock: left;
}