Screen {
    layout: horizontal;
}

#sidebar {
    width: 40;
    border-right: solid $primary;
}

#main-content {
    layout: vertical;
    width: 1fr;
}

#task-table {
    height: 1fr;
}

#task-details {
    height: 1fr;
    border-top: solid $primary;
}

#footer {
    height: 1;
    border-top: solid $primary;
    padding: 0 1;
}

Button {
    margin: 1;
}

/* Modal styles */

BaseModalScreen {
  align: center middle;

  .title {
    margin: 1 1 1 2;
  }

  .modal-content {
    content-align: center top;
    align: center top;
  }

  .modal-button {
    width: 1fr;
  }

  Button {
    margin: 2;
    column-span: 2;
  }
  Grid {
    grid-size: 4 3;
    padding: 0 1;
    max-width: 80%;
    max-height: 90%;
    border: thick $background 80%;
    background: $surface;
  }
  #task-id {
    color: red;
    column-span: 3;
  }
  #task-message {
    column-span: 4;
  }
}
