Screen {
    layout: horizontal;
}

#sidebar {
    width: 40;
    border-right: solid $primary;
}

#main-content {
    layout: vertical;
    width: 1fr;
}

#task-table {
    height: 1fr;
}

#task-details {
    height: 1fr;
    border-top: solid $primary;
}

#footer {
    height: 1;
    border-top: solid $primary;
    padding: 0 1;
}

Button {
    margin: 1;
}

/* Modal styles */

BaseModalScreen {
  align: center middle;
}

BaseModalScreen * {
  border: green;
}

#modal-dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 70;
    height: 30;
    border: thick $background 80%;
    background: $surface;
}

.modal-content {
  content-align: center middle;
}

.modal-button {
  width: 100%;
}